@charset "utf-8";
/*CSS Document */
p{
    color: red;
    font-family: "Verdana", "Georgia", monospace;
    font-size: 14px;
    line-height: 12px;
    width: 300px;
    padding: 15px;
}
h1, h2 {
    font-family: Gotham, "	Times New Roman", 	Copperplate, Arial, "sans-serif";
    color: pink;
	text allign: center;
}
span {
    color:rgba(255, 0, 0,);
}
body{
    background-image: url("gym04.jpg");
	
}
a {
  color: red;
}
a:hover {
color: blue;
}
img {
    height: 400px;
}
mark{
	color:red;
}
